/* Обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   color: #252B42;
   font-family: Montserrat;
   font-weight: 500;
   background: #FAFAFA;
}

/* ================================================================ */
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/* ===============================ОГРАНИЧЕВАЮЩИЙ КОНТЕЙНЕР================================= */
._container {
   max-width: 1045px;
   padding: 0px 15px;
   margin: 0px auto;
   box-sizing: content-box;
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* ===============================ШАПКА================================= */
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}

.header__container {
   display: flex;
   min-height: 104px;
   align-items: center;
}

@media(max-width: 479px) {
   .header__container {
      min-height: 70px;
   }
}

.header__logo {
   font-size: 24px;
   font-weight: 700;
   color: initial;
}

.header__menu {
   margin: 0px 0px 0px 133px;
}

@media(max-width: 992px) {
   .header__menu {
      margin: 0px 0px 0px 80px;
   }
}

@media(max-width: 767px) {
   .header__menu {
      margin: 0px 0px 0px 40px;
   }
}

@media(max-width: 479px) {
   .header__menu {
      margin: 0px 0px 0px 20px;
   }
}

.menu {
   padding: 5px;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
}

.menu_item {}

.menu_item:not(:last-child) {
   margin: 0px 21px 0px 0px;
}

.menu__link {
   color: #737373;
   line-height: calc(24 / 14 * 100%);
   font-family: 600;
}

@media(max-width: 479px) {
   .menu__link {

      font-size: 18px;
   }
}

/* ===============================PAGE================================= */
.page {
   flex: 1 1 auto;

}
.page__main-block {}
.page__servises{
   position: relative;
   z-index: 2;
   margin: -111px 0px 0px 0px;

}
.page__advantages{}
.page__practice{}
.page__whoweare{}
.page__clients{
   margin: 0px 0px 10px 0px;
}
.page__subscribe{}
.page__getintouch{}
.page__contact{}
/* ===============================MAIN-BLOCK================================= */

.main-block {
   position: relative;
}

.main-block__container {}

.main-block__body {
   padding: 184px 0px 191px 0px;
   position: relative;
   z-index: 2;
   max-width: 400px;
}
@media(max-width: 920px){
   .main-block__body {
      padding: 120px 0px 191px 0px;

   }
}
.main-block__body>*:not(:last-child) {
   margin: 0px 0px 35px 0px;
}

.main-block__title {
   font-size: 58px;
   font-weight: 800;
   line-height: calc(80/58*100%);
   letter-spacing: 0.2px;
}
@media(max-width: 479px){
   .main-block__title{
      font-size: 42px;
   }
}
.main-block__text {
   color: #737373;
   font-size: 20px;
   font-weight: 500;
   line-height: calc(30/20*100%);
}

.main-block__buttons {
   display: flex;
   flex-wrap: wrap;
   margin: -10px 0;
}

.main-block__button {
   border-radius: 37px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 5px 36px;
   min-height: 48px;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: calc(28/14*100%);
   margin: 10px 0;
}
@media(max-width: 479px){
   .main-block__button{
      flex: 1 1 100%;
   }
}
@media(min-width: 479px){
   .main-block__button:not(:last-child) {
      margin-right: 10px;
}
}
.main-block__button_orange {
   background: #FF7B47;
   color: #FFFFFF;
}

.main-block__button_border {
   border: 1px solid #0D5C63;
   color: #0D5C63;
}

.main-block__image {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
@media(max-width: 1300px){
   .main-block__image img{
      object-position: right;
   } 
}
@media(max-width: 920px){
   .main-block__image img{
      opacity: 0.5;
   } 
}
/* ===============================ПЛИТКИ(SERVISES)================================= */
.servises{

}
.servises__container{}
.servises__body{

}
@media(min-width: 670px){
   .servises__body{
      display: flex;
      margin: 0px -15px -30px;
      flex-wrap: wrap;
   }
}
.servises__colum{
   flex: 0 1 33.333%;
   margin: 0px 0px 30px 0px;
}
@media(min-width: 670px){
   .servises__colum{
      padding: 0px 15px;
   }
}

@media(max-width: 992px){
   .servises__colum{
      flex: 0 1 50%;
      
   }
   .servises__colum:last-child{
      flex: 1 1 100%;
   }
}

.servises__item{
   height: 100%;
   background: #FFFFFF;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
   padding: 35px;

}
.item-servises{}
.item-servises_green{
   background: #0D5C63;
}
.item-servises_green .item-servises__title{
   color: #FFFFFF;
}
.item-servises_green .item-servises__text{
   color: #FFFFFF;
}
.item-servises>*:not(:last-child){
   margin: 0px 0px 10px 0px;
}
.item-servises__icon{}

.item-servises__title{
   font-size: 24px;
   line-height: calc(32/24*100%);
   font-weight: 700;
   letter-spacing: 0.1px;
   color: #252B42;
}
.item-servises__text{
   line-height: calc(20/14*100%);
   font-weight: 500;
   letter-spacing: 0.2px;
   color: #737373;
}

/* ===============================header-block================================= */
.header-block{
   text-align: center;
   letter-spacing: 0.2px;

}
.header-block__title{
   font-size: 40px;
   font-weight: 700;
   line-height: calc(57/40*100%);
}
@media(max-width: 992px){
   .header-block__title{
      font-size: 35px;

   }
}
@media(max-width: 767px){
   .header-block__title{
      font-size: 30px;

   }
}

.header-block__title:not(:last-child){
   margin: 0px 0px 10px 0px;
}
.header-block__sub-title{

   font-size: 14px;
   font-weight: 500;
   line-height: calc(20/14*100%);
}

/* ===============================advantages================================= */
.advantages{
   padding: 80px 0px;
}
@media(max-width: 992px){
   .advantages{
      padding: 50px 0px;
   }
}
@media(max-width: 767px){
   .advantages{
      padding: 30px 0px;
   }
}

.advantages__container{}
.advantages__header{
   margin: 0px 0px 50px 0px;
}
.advantages__body{
   display: flex;
   flex-wrap: wrap;
   margin: 0px -15px;
}
.advantages__colum{
   padding: 0px 15px;
   flex: 0 1 25%;
}
@media(max-width: 1020px){
   .advantages__colum{
      flex: 0 1 50%;
   }
}
@media(max-width: 560px){
   .advantages__colum{
      flex: 0 1 100%;
   }
}



.advantages__item{
   background-color: #fff;
   padding: 30px;
   text-align: center;
}
.advantages__item > *:not(:last-child){
   margin: 0px 0px 10px 0px;
}
.advantages__icon{
   height: 48px;
   display: flex;
   align-items: flex-end;
   justify-content: center;
}
.advantages__value{
   font-size: 40px;
   font-weight: 700;
   line-height: calc(57/40*100%);
   letter-spacing: 0.2px;
   color: #252B42;
}
.advantages__text{
   font-size: 16px;
   font-weight: 700;
   line-height: calc(24/16*100%);
   letter-spacing: 0.1px;
   color: #737373;
}
/* ===============================practice================================= */

.practice{
   padding: 125px 0px 80px 0px;
}
.practice__container{}
.practice__header{
   padding: 0px 0px 45px 0px;
}
.practice__body{
   margin: 0px -20px;
   display: flex;
   flex-wrap: wrap;
}
.practice__column{
   padding: 20px;
   flex: 0 1 25%;
}
@media(max-width: 1040px){
   .practice__column{
      flex: 0 1 50%;
   }
}
@media(max-width: 630px){
   .practice__column{
      flex: 0 1 100%;
   }
}

.practice__item{
} 
.item-practice{
   background-color: #fff;
   display: flex;
   flex-direction: column;
   height: 100%;
}
.item-practice__content{
   padding: 30px;
   flex: 1 1 auto;
}
.item-practice__link{
   display: inline-flex;
   color: #252B42;
}
.item-practice__link:hover{
   text-decoration: underline;
}
.item-practice__link:not(:last-child){
   margin: 0px 0px 15px 0px;
}
.item-practice__title{
   font-size: 16px;
   font-weight: 700;
   line-height: calc(24/16*100%);
   letter-spacing: 0.1px;
}
.item-practice__text{
   font-weight: 500;
   line-height: calc(20/14*100%);
   letter-spacing: 0.2px;
   color: #737373;
}
.item-practice__img{
   display: block;
   padding: 0px 0px 60% 0px ;
}
/* ===============================whoweare================================= */
.whoweare{
   padding: 80px 0px 130px 0px;
}
@media(max-width: 950px){
   .whoweare{
      padding: 50px 0px 50px 0px;
   }
}
.whoweare__container{}
.whoweare__header{
   margin: 0px 0px 100px 0px;
}
@media(max-width: 950px){
   .whoweare__header{
      margin: 0px 0px 30px 0px;
   }
}
.whoweare__body{
   display: flex;
   align-items: flex-start;
}
@media(max-width: 950px){
   .whoweare__body{
      flex-direction: column-reverse;
      align-items: stretch;
   }
}
.whoweare__video{
   flex: 0 0 57%;
   position: relative;
   padding: 0px 0px 42.25% 0px;
}
@media(max-width: 950px){
   .whoweare__video{
      padding: 0px 0px 56.25% 0px;
   }
   .whoweare__video:not(:last-child){
     margin: 50px 0px 0px 0px;
   }
}
.whoweare__video iframe{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.whoweare__content{
   flex: 1 1 auto;
   padding: 20px 0px 0px 121px;
}
@media(max-width: 1080px){
   .whoweare__content{
      padding: 0px 0px 0px 50px;
   }
}
@media(max-width: 950px){
   .whoweare__content{
      padding: 0px 0px 0px 0px;
   }
}
.whoweare__top{}
.whoweare__top:not(:last-child){
   margin: 0px 0px 50px 0px;
}
.whoweare__tetle{
   font-size: 40px;
   font-weight: 700;
   line-height: calc(57/40*100%);
   letter-spacing: 0.2px;
   color: #252B42;
}
@media(max-width: 950px){
   .whoweare__tetle{
      font-size: 24px;
   }
}
.whoweare__tetle:not(:last-child){
   margin: 0px 0px 10px 0px;
}
.whoweare__text{
   font-size: 14px;
   font-weight: 500;
   line-height: calc(20/14*100%);
   letter-spacing: 0.2px;
   color: #737373;
}

.whoweare__items{
   
}
.whoweare__item{
   display: flex;
}
.whoweare__item:not(:last-child){
   margin: 0px 0px 30px 0px;
}
.item-whoweare{
}
.item-whoweare__icon{
   flex: 0 0 32px;
}
.item-whoweare__body{
   flex: 1 1 auto;
   padding: 0px 0px 0px 20px;
}
.item-whoweare__tetle{
   font-size: 16px;
   font-weight: 700;
   line-height: calc(24/16*100%);
   letter-spacing: 0.1px;
   color: #252B42;
}
.item-whoweare__tetle:not(:last-child){
   margin: 0px 0px 5px 0px;
}
.item-whoweare__text{
   font-weight: 600;
   line-height: calc(24/14*100%);
   letter-spacing: 0.2px;
   color: #737373;
}

/* ===============================clients================================= */
.clients{
   padding: 50px 0;
}
.clients__container{}
.clients__items{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}
.clients__item{
   padding: 8px 15px;
   flex: 0 1 16%;
   text-align: center;
   min-width: 140px;
}
.clients__item img{
   max-width: 100%;
}
/* ===============================subscribe================================= */
.subscribe{
   position: relative;
   padding: 0px 0px 20px 0px;
}
.subscribe::before{
   content: "";
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 77px;
   left: 0;
   background: #252B42;
}
.subscribe__conteiner{}
.subscribe__body{
   position: relative;
   z-index: 2;
   margin: 0px 30px;
   padding: 30px 50px;
   align-items: center;
   background: #17213C;
   border-radius: 2px;
}

.subscribe__title{
   flex: 0 1 50%;
   font-weight: 700;
   font-size: 24px;
   line-height: calc(32/24*100%);
   letter-spacing: 0.1px;
   color: #FFFFFF;
}
.subscribe__form{
   flex: 0 1 50%;
   display: flex;
   align-items: center;

}

.subscribe__input{
   width: 100%;
   flex: 1 1 auto;
   min-height: 58px;
   padding: 0px 20px;
   border-right: 0;
   box-sizing: border-box;
   background: #F9F9F9;
   border: 1px solid #E6E6E6;
   border-radius: 5px 0 0 5px;
   color: #737373;
   
}
.subscribe__input:focus{
   color: black;
}
.subscribe__button{
   background: #FF7B47;
   border: 1px solid #E6E6E6;
   border-radius: 0px 5px 5px 0px;
   display: flex;
   min-height: 58px;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fff;
   padding: 0px 22px;
}
@media (min-width: 1070px){
   .subscribe__body{
      margin: 0px 30px;
   }
}
@media (min-width: 810px){
   .subscribe__body{
      display: flex;
      justify-content: space-between;
   }
   .subscribe__title{
      max-width: 266px;
   }
}
@media (max-width: 810px){
   .subscribe__title{
      margin: 0px 0px 20px 0px;
   }
   .subscribe__body{
      margin: 0px -15px;
      padding: 20px 25px;
   }
   .subscribe__button{
      padding: 0px 15px;
   }
}
/* ===============================getintouch================================= */
.getintouch{
   padding: 80px 0px 136px 0px;
}
.getintouch__container{}
.getintouch__header{
   margin: 0px 0px 80px 0px;
}
.getintouch__items{
   margin: 0px -15px;
}
@media(min-width:992px){
   .getintouch__items{
      margin: 0px;
      display: flex;
      align-items: center;
   }
}
.getintouch__item{
   flex: 0 1 33.333%;
}
.item-getintouch{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   padding: 50px 15px;
}
.item-getintouch>*:not(:last-child){
   margin: 0px 0px 15px 0px;
}
.item-getintouch__icon{}

.item-getintouch__emails{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.item-getintouch__email{
   color: inherit;
   font-weight: 600;
   line-height: 150%;
   font-size: 16px;
}
.item-getintouch__email:hover{
   text-decoration: underline;
}
.item-getintouch__label{
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;

}
.item-getintouch__button{
   border: 1px solid #FF7B47;
   min-height: 44px;
   display: flex;
   font-weight: 600;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #FF7B47;
   line-height: 142%;
   padding: 5px 20px;
   border-radius: 5px;
   transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover{
   background: #FF7B47;
   color: #fff;
}
.item-getintouch_activ{
   background: #252B42;
   color: #fff;
   padding: 80px 15px;
}
.item-getintouch_activ .item-getintouch__button{
   border: 1px solid #fff;
   color: #fff;
   
}
.item-getintouch_activ .item-getintouch__button:hover{
   background: #FF7B47;
   color: #fff;
}
/* ===============================contact================================= */
.contact{
   background-color: #fff;
   padding: 42px 0;
}
.contact__container{}
.contact__body{
   display: flex;
   justify-content: space-between;
}
.contact__content{}
.contact__title{
   font-weight: 700;
   letter-spacing: 0.1px;
   font-size: 24px;
   line-height: 133%;
}
.contact__title:not(:last-child){
   margin: 0px 0px 10px 0px;
}
.contact__text{
   font-weight: 500;
   font-size: 14px;
   line-height: 143%;
   letter-spacing: 0.2px;
   color: #737373;
}
.contact__button{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: #FF7B47;
   border-radius: 5px;
   padding: 15px 40px;
   color: #fff;
   font-weight: 700;
   font-size: 14px;
   line-height: 200%;
}
@media(max-width:702px){
   .contact__text:not(:last-child){
      padding: 0px 0px 10px 0px;
   }
   .contact__body{
      flex-wrap: wrap;
   }
   .contact__text{
      margin: 0px 0px 10px 0px;
   }
}
/* ===============================ПОДВАЛ================================= */
.footer {}
.footer__body{
   position: relative;
   z-index: 2;
   margin: 0px 30px;
   padding: 30px 50px;
   align-items: center;
   background: #17213C;
   border-radius: 2px;
}
